<div class="startVideo">
  <%= video_tag("startvideo.mp4",autoplay: true, mute: false, loop: true, style:"transform: scale(2)") %>
</div>
<p class="tip"></p>
<div class="cont">
  <div class="form sign-in">
    <h2>Willkommen zurück</h2>
    <%= simple_form_for @user, url: new_user_session_path do |f| %>
      <label>
        <span>Email</span>
        <%= f.input :email, label: false %>
      </label>
      <label>
        <span>Password</span>
        <%= f.input :password, label: false %>
      </label>
      <p class="forgot-pass">
        <%= link_to "Passwort vergessen?", new_password_path(@user), class: "forgot-pass" %>
      </p>
      <%= f.button :submit, "Log in", class: "submit" %>
      <% if request.fullpath == ("/?error=%27passwordOrUsernameOrNotConfirmed%27") %>
        <div class="notice" style="text-align: center; color: red; margin-top: 20px;"> <%= flash[:error] ="Passwort oder E-Mail verkehrt! Wenn du deine E-Mail noch nicht bestätigt hast, dann schau in dein Postfach nach." %></div>
      <% end %>
      <% if request.fullpath == ("/?error=%27SignUp%27") %>
        <div class="notice" style="text-align: center; color: red; margin-top: 20px;"> <%= flash[:error] ="Bitte erneut anmelden. Deine Daten waren leider nicht korrekt." %></div>
      <% end %>
    <% end %>
    </div>
    <div class="sub-cont">
      <div class="img">
        <div class="img__text m--up">
          <h2>Neu hier?</h2>
          <p>Melde dich jetzt an und greife auf eine große Anzahl von Konzertkontakten zurück!</p>
        </div>
        <div class="img__text m--in">
          <h2>Schon angemeldet?</h2>
          <p>Wenn du bereits einen Account hast, melde dich einfach an!</p>
        </div>
        <div class="img__btn">
          <span class="m--up">Anmelden</span>
          <span class="m--in">Einloggen</span>
        </div>
      </div>
    <div class="form sign-up">
      <h2>Melde dich an und finde neue Konzertmöglichkeiten</h2>
      <%= simple_form_for @user, url: user_registration_path, method: :post do |f| %>
        <label>
          <span>Name</span>
          <%= f.input :name, label: false, class: "signUpName" %>
        </label>
        <label>
          <span>Email</span>
          <%= f.input :email, label: false, class: "signUpEmail" %>
        </label>
        <label>
          <span>Password</span>
          <%= f.input :password, label: false, class: "signUpPassword" %>
        </label>
        <%= f.button :submit, "Anmelden", class: "submit signUpSubmit" %>
        <center>
          <br>
          <small>Eine E-Mail zur Bestätigung wird versendet!</small>
        </center>
      <% end %>
    </div>
  </div>
</div>


<script>
  document.querySelector('.img__btn').addEventListener('click', function() {
    document.querySelector('.cont').classList.toggle('s--signup');
  });
  $('#new_user').submit(function(){
    alert("Eine E-Mail wird an dich gesendet. Dein Account wird durch den klick Link in dieser E-Mail aktiviert!");

  });
</script>
